/* **** general **** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

/* *** header *** */
header {
    height: 100px;
    background-color: white;
}

.container {
    width: 100%;
    padding: 10px;
}

#logo {
    height: 70px;
    vertical-align: middle;
}

#title {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
    font-weight: 700;
}

/* *** main *** */
